body {
	padding: 0;
	margin: 0;
	color: #333;
	font-size: 0.8em;
}

.container {
	margin: 0 auto;
	padding-top: 50px; 
	width: 1000px;
}

div.container ul {
	margin: 0;
	padding: 0 0 0 30px;
}

div.container ul > li {
	list-style: none;
	margin: 8px 0 8px 0;
}

li.one-level {
	font-weight: bold;
	font-size: 1.8em;
}

li.two-level {
	font-weight: bold;
	font-size: 1.4em;
}

ol > li {
	list-style-type: decimal;
	list-style-position: inside;
}

.top-bar {
	border: 1px solid #fff;
	background: #333;
	height: 2.8125rem;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100;
}

.title {
	text-align: center;
}

.link {
	color: #195cc3;
}

.warn-info {
	color: #e20b0b;
}

nav ul {
	margin: 0;
	padding-left: 10px;
	line-height: 2.8125rem;
	list-style: none;
}

nav ul li {
	color: #ababab;
}

pre {
	max-height: 400px;"
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 7px;
	margin-bottom: 7px;
}

h4 a {
	font-weight: normal;
	margin-left: 30px;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px; 
	border: none;
	height: 1px;
	background: #ddd;
}